.navbarSearch {
  width: 100%;
  max-width: 518px;
  height: 50px;
  margin-right: auto;
  background: #FFFFFF;
  border-radius: 0px 0px 62px 0px;
  border: 0;
}

.userSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 12px;
}

.userPicture {
  margin-left: 12px;
}